{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="sortcut icon" href="{% static 'images/icons.png' %}" type="image/png"/>
    <title>Classificador de crédito</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>  
    <div class="login-box">
      <h1>Classificador de crédito</h1>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <!-- USERNAME INPUT -->
        <input type="submit" value="Entrar" /></br>
      </form>
      <a href="{% url 'signup' %}">
          <input type="submit" value="Inscreva-se" />
      </a>
    </div>
  </body>
</html>
