<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Atualizar cargo</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <ul>
      <li>
        <a href="{% url 'dashboard' %}" >  
          <img src="" width="18" height="18" />        
        </a>
      </li>
      {% if user.groups.all.0.name == 'Cliente' %}
        <li><a class="active" href="{% url 'verificar_cadastro' %}">Ficha</a></li>
      {% endif %}
      {% if user.is_authenticated %}
        <li style="float: right"><a href="{% url 'logout' %}">Sair</a></li>
        <li style="float: right; color:white"><p>Olá {{user.username}}</p></li>
      {% else %}
        <li style="float: right"><a href="{% url 'login' %}">Login</a></li>
        <li style="float: right; color:white"><p style="color: black">Você não está logado</p></li>
      {% endif %}
      {% if user.groups.all.0.name != 'Cliente' %}
        <li class="active"><a href="{% url 'esteira_analise' %}">Análise</a></li>
      {% endif %}
      <li>
        <div class="dropdown">
          <button class="dropbtn">Cadastros</button>
          <div class="dropdown-content">
            {% if user.groups.all.0.name == 'Cliente' %}
              <a href="{% url 'atualizar_perfil' user.id %}">Perfil</a>
            {% else %}
              <a href="{% url 'cadastro_cargo' %}">Cargos</a>
              <a href="{% url 'cadastro_operador' %}">Operadores</a>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>

    <br />
    <br />

    <form method="POST"> 
        {% csrf_token %} 
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="cpf">Nome do cargo</label>
            </div>
            <div class="col-75">
              {{form.nome_cargo}}
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="cpf">Salario mínimo</label>
            </div>
            <div class="col-75">
              {{form.salario_minimo}}
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="cpf">Salario máximo</label>
            </div>
            <div class="col-75">
              {{form.salario_maximo}}
            </div>
          </div>
          
          <input type="submit" value="Atualizar"> 
        </div>
    </form> 
  </body>