<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Cadastrar cargo</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <ul>
      <li><a href="">Histórico</a></li>
      <li><a href="">Análises</a></li>
      <li style="float: right"><a href="">Sair</a></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Cadastros</button>
          <div class="dropdown-content">
            <a href="#">Cargos</a>
            <a href="#">Operadores</a>
          </div>
        </div>
      </li>
    </ul>

    <br />
    <br />

    <form method="POST">
    {% csrf_token %}
      <div class="row">
        <h3>Cadastrar cargo</h3>
        <div class="col-25">
          <label for="cargo">Cargo</label>
        </div>
        <div class="col-75">
          {{ form.nome_cargo }}
        </div>
        <h4>Faixa salarial</h4>
        <div class="col-25">
          <label for="minimo">Salario mínimo</label>
        </div>
        <div class="col-75">
          {{ form.salario_minimo }} 
        </div>

        <div class="col-25">
          <label for="maximo">Salario máximo</label>
        </div>
        <div class="col-75">
          {{ form.salario_maximo }}
        </div>
      </div>
      <div class="button-space">
          <input type="submit" value="Cadastrar" />
        </div>
    </form>
    <div class="button-space">
          <a href="{% url 'lista_cargos' %}">Visualizar cargos</a>
  </body>
</html>
