<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="{% url 'ficha' %}">Ficha</a></li>
      <li><a href="">Histórico</a></li>
      <li><a href="">Análises</a></li>
      {% if user.is_authenticated %}
        <li style="float: right"><a href="{% url 'logout' %}">Sair</a></li>
        <li style="float: right"><p>Olá {{user.username}}</p></li>
      {% else %}
        <li style="float: right"><a href="{% url 'login' %}">Login</a></li>
        <li style="float: right"><p>Você não está logado</p></li>
      {% endif %}
      <li>
        <div class="dropdown">
          <button class="dropbtn">Cadastros</button>
          <div class="dropdown-content">
            <a href="#">Cargos</a>
            <a href="#">Operadores</a>
          </div>
        </div>
      </li>
    </ul>
    <br/>
    <br/>
    <table class="table">
      <thead>
        <tr style="text-align: center">
          <th>ID</th>
          <th>Crédito pré aprovado</th>
          <th>Status</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        {% for ficha in object_list %}
          <tr>
            <!-- Listagem das fichas do cliente -->
            <td>{{ ficha.id }}</td>
            <td>{{ ficha.credito }}</td>
            <td>{{ ficha.status }}</td>
            <td>
              <!--<a href="{{ ficha.get_absolute_url }}" >-->  
                <img src="{% static 'images/visible.png' %}" width="36" height="36" />        
              <!--</a>-->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
