<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="sortcut icon" href="{% static 'images/icons.png' %}" type="image/png"/>
    <title>Classificador de crédito</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <ul>
      <li>
        <a href="{% url 'dashboard' %}" >  
          <img src="{% static 'images/icons.png' %}" width="24" height="24" />           
        </a>
      </li>
      {% if user.groups.all.0.name == 'Cliente' %}
        <li><a class="active" href="{% url 'verificar_cadastro' %}">Ficha</a></li>
      {% endif %}
      {% if user.is_authenticated %}
        <li style="float: right"><a href="{% url 'logout' %}">Sair</a></li>
        <li style="float: right; color:white"><p>Olá {{user.username}}</p></li>
      {% else %}
        <li style="float: right"><a href="{% url 'login' %}">Login</a></li>
        <li style="float: right; color:white"><p style="color: black">Você não está logado</p></li>
      {% endif %}
      {% if user.groups.all.0.name != 'Cliente' %}
        <li class="active"><a href="{% url 'esteira_analise' %}">Análise</a></li>
      {% endif %}
      <li>
        <div class="dropdown">
          <button class="dropbtn">Cadastros</button>
          <div class="dropdown-content">
            {% if user.groups.all.0.name == 'Cliente' %}
              <a href="{% url 'atualizar_perfil' user.id %}">Perfil</a>
            {% else %}
              <a href="{% url 'cadastro_cargo' %}">Cargos</a>
              <a href="{% url 'cadastro_operador' %}">Operadores</a>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>

    <br />
    <br />

    <div>
        <table class="table">
          <thead>
            <tr style="text-align: center">
              <th>Cargo</th>
              <th>Salário mínimo</th>
              <th>Salário máximo</th>
              <th>Alterar</th>
              <th>Deletar</th>
            </tr>
          </thead>
          <tbody>
            {% for cargo in object_list %}
              <tr>
                <td>{{ cargo.nome_cargo }}</td>
                <td>{{ cargo.salario_minimo }}</td>
                <td>{{ cargo.salario_maximo }}</td>
                <td>
                  <a href="{% url 'atualizar_cargo' id_cargo=cargo.id %}">
                    <input
                        type="image"
                        src="{% static 'images/alterar.png' %}"
                        alt="Submit"
                        width="36"
                        height="36"
                    />
                  </a>
                </td>
                <td>
                  <a href="{% url 'excluir_cargo' id_cargo=cargo.id %}">
                    <input
                        type="image"
                        src="{% static 'images/remover.png' %}"
                        alt="Submit"
                        width="36"
                        height="36"
                    />
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </body>