<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="{% static 'images/icons.png' %}" type="image/png"/>;

    <title>Classificador de crédito</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
    <ul>
        <li><a href="">Ficha</a></li>
        <li><a href="">Histórico</a></li>
        <li><a href="">Análises</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Cadastros</button>
            <div class="dropdown-content">
              <a href="#">Perfil</a>
              <a href="#">Cargos</a>
              <a href="#">Operadores</a>
            </div>
          </div>
        </li>
        <li><a href="">Atividades</a></li>
        <li><a href="">Relatórios</a></li>
        <li style="float: right"><a href="">Sair</a></li>
      </ul>

      <br />
    <h2>Confirmar e-mail.</h2>
    <br />
    <div class="container">
        <h3>Obrigado pela confirmação de seu cadastro. Agora você conseguirá efetuar o login de seu usuário.</h3>
            <div class="row">
              <a href="{% url 'login' %}">
                <input type="submit" value="Login" />
              </a>
            </div>
        </div>
    </div>
  </body>
</html>
