<!DOCTYPE html>
{% load static %}
<html long="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="sortcut icon" href="{% static 'images/icons.png' %}" type="image/png"/>;

    <title>Classificador de crédito</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
  </head>
  <body>
      <br />
    <h2>Confirmar e-mail.</h2>
    <br />
    <div class="container">
        <h3>O link de ativação está inválido. Tente cadastrar novamente!</h3>
            <div class="row">
              <a href="{% url 'signup' %}">
                <input type="submit" value="Inscreva-se" />
              </a>
            </div>
        </div>
    </div>
  </body>
</html>
